/* app global css */
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-medium {
  font-weight: 500;
}
.capitalize {
  text-transform: capitalize;
}
.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.border-black	{
  border-color: rgba(0, 0, 0, 1);
}
.rounded-none{
  border-radius: 0px;
}